<%- include('../includes/head.ejs') %>
</head>

<body>
    <div class="container" style="margin-bottom: 10px;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="<%= path === '/admin/dashboard' ? 'active' : '' %> nav-link" href="/admin/dashboard">Shop</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/admin/add' ? 'active' : '' %> nav-link" href="/admin/add">Add
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/admin/edit_delete' ? 'active' : '' %> nav-link"
                    href="/admin/edit_delete">Modify
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/admin/logout' ? 'active' : '' %> nav-link" href="/admin/logout">Logout</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <form class="was-validated" action="/admin/<% if (editing) { %>edit<% } else { %>add<% } %>" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>"
                    class="form-control" placeholder="Enter title" required>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl"
                    value="<% if (editing) { %><%= product.imageUrl %><% } %>" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01"
                    value="<% if (editing) { %><%= product.price %><% } %>" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5" class="form-control"
                    required><% if (editing) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
            <input type="hidden" value="<%= product.id %>" name="productId">
            <% } %>

            <button class="btn btn-primary" type="submit"><% if (editing) { %>Update Product<% } else { %>Add
                Product<% } %></button>
        </form>
    </div>
</body>

</html>