<%- include('../includes/head.ejs') %>
</head>

<body>
    <% if(error != '') {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%}%>
                      <% if(success != '') {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%}%>
        <div class="container" style="margin-bottom: 10px;">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="<%= path === '/user/dashboard' ? 'active' : '' %> nav-link"
    href="/user/dashboard">Shop</a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/cart' ? 'active' : '' %> nav-link" href="/user/cart">Cart</a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/order' ? 'active' : '' %> nav-link" href="/user/order">Orders</a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/add' ? 'active' : '' %> nav-link" href="/user/add">Add
            Products
        </a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/edit_delete' ? 'active' : '' %> nav-link" href="/user/edit_delete">Modify
            Products
        </a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/logout' ? 'active' : '' %> nav-link" href="/user/logout">Logout</a>
    </li>
    </ul>
    </div>
    <div class="container">
        <form class="was-validated" action="/user/<% if (editing) { %>edit<% } else { %>add<% } %>" method="POST"
            enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>"
                    class="form-control" placeholder="Enter title" required>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" name="image" id="image" class="form-group" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01"
                    value="<% if (editing) { %><%= product.price %><% } %>" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5" class="form-control"
                    required><% if (editing) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
            <input type="hidden" value="<%= product.id %>" name="productId">
            <% } %>

            <button class="btn btn-primary" type="submit"><% if (editing) { %>Update Product<% } else { %>Add
                Product<% } %></button>
        </form>
    </div>
</body>

</html>