<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/dist/cart.min.css">
</head>

<body>
    <nav class="navbar bg-dark">
        <h1>
            <a href="/user/dashboard">
                <i class="fas fa-shopping-bag"></i>
                Start Shopping
            </a>
        </h1>
        <ul>
            <li>
                <a href="/user/order">Orders</a>
                <a href="/user/add">Sell Products</a>
                <a href="/user/edit_delete">Edit Products</a>
                <a href="/user/profile">Profile</a>
            </li>
        </ul>
    </nav>
    <% if (numOfProds > 0) { %>
    <div class="form-wrapper">
        <% if(error != '') {%>
        <div class="error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%=error%>
        </div>
        <%}%>
            <% if(success != '') {%>
        <div class="success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%=success%>
        </div>
        <%}%>
        <div class="form-outer">
            <div class="form-inner">
                <div class="order-details">
                    <div class="order-title">
                        <ul>
                            <li>Shopping Cart</li>
                            <li><%=numOfProds%> Items</li>
        </ul>
    </div>
    <hr>
    <div class="grid-container">
        <div class="item1">
            Product Details
        </div>
        <div class="item2">Quantity</div>
        <div class="item3">Price</div>
        <div class="item4">Total</div>
        <% for(const Id in cart.products) {%>
        <div class="product">
            <img src="<%=cart.products[Id].product.imageUrl%>">
            <div class="product-details">
                <h4><%=cart.products[Id].product.title%></h4>
                <form action="/user/cart/delete" method="POST">
                    <input type="hidden" value="<%=Id%>" name="productId">
                    <button type="submit">Remove</button>
                </form>
            </div>
        </div>
        <div class="quantity"><%=cart.products[Id].qty%></div>
        <div class="price">$<%=cart.products[Id].product.price%></div>
        <div class="total">$<%=cart.products[Id].price%></div>
        <% }%>
        <div class="item1">
            <a href="/user/dashboard">
                <i class="fas fa-arrow-left"></i>
                Continue Shopping
            </a>
        </div>
    </div>
    </div>
    <div class="order-summary">
        <div class="order-title">
            <ul>
                <li>Order Summary</li>
            </ul>
        </div>
        <hr>
        <div class="order-summary-header">
            <ul>
                <li>
                    ITEMS <%=cart.totalQuantity%>
                </li>
                <li>
                    $<%=cart.totalPrice%>
                </li>
            </ul>
        </div>
        <div class="shipping">
            <label for="delivery">SHIPPING</label>
            <select id="delivery" name="delivery" class="form-control">
                <option selected>Standard Delivery - $2</option>
                <option>Express Delivery - $5</option>
                <option>Premium Delivery - Free</option>
            </select>
        </div>
        <div class="promocode">
            <label for="promo">PROMO CODE</label>
            <input class="form-control" id="promo" name="promo" placeholder="Enter your code">
            <button class="btn btn-primary">APPLY</button>
        </div>
        <hr>
        <div class="order-summary-footer">
            <ul>
                <li>
                    TOTAL COST
                </li>
                <li>
                    $<%=cart.totalPrice%>
                </li>
            </ul>
            <form action="/user/checkout" method="POST">
                <button type="submit" class="btn btn-primary-home">CHECKOUT</button>
            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <% } else { %>
    <div class="empty-cart">
        <div class="dark-overlay">
            <div class="empty-cart-inner">
                <h1 class="x-large">Your Shopping Bag is Empty!</h1>
                <div class="buttons">
                    <a href="/user/dashboard" class="btn btn-primary-home">Go To Home Page</a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <footer class="bg-dark">
        <ul>
            <li>
                <a href="/user/dashboard">Top Brands</a> |
                <a href="/user/dashboard">Browse Categories</a> |
                <a href="/user/dashboard">View All Products</a>
            </li>
        </ul>
    </footer>
</body>

</html>