<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="container" style="margin-bottom: 10px;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="<%= path === '/user/dashboard' ? 'active' : '' %> nav-link" href="/user/dashboard">Shop</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/user/cart' ? 'active' : '' %> nav-link" href="/user/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/user/order' ? 'active' : '' %> nav-link" href="/user/order">Orders</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/user/logout' ? 'active' : '' %> nav-link" href="/user/logout">Logout</a>
            </li>
        </ul>
    </div>
    <% if (prods.length > 0) { %>
    <div class="container card-columns">
        <% for (const product of prods) { %>
        <div class="card">
            <img class="card-img-top" src="<%= product.imageUrl %>" alt="<%= product.title %>">
            <div class="card-body">
                <h4 class="card-title"><%= product.title %></h4>
                <p class="card-text"><%= product.description %></p>
                <div>
                    <b>$</b>
                    <%= product.price %>
                </div>
                <form action="/user/cart" method="post">
                    <button class="btn btn-primary float-right form-group" type="submit">
                        Add to cart
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                    <input type="hidden" name="productId" value="<%= product.id %>">
                </form>
            </div>
        </div>
        <% } %>
    </div>
    <% } else { %>
    <div class="jumbotron container">
        <h1>No Products In The Shop!</h1>
        <p>There are currently no product in our Shop.</p>
        <p>Please try again later.</p>
    </div>
    <% } %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
</body>

</html>