<%- include('../includes/head.ejs') %>
</head>

<body>
    <% if(error != '') {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%}%>
                      <% if(success != '') {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%}%>
        <div class="container" style="margin-bottom: 10px;">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="<%= path === '/user/dashboard' ? 'active' : '' %> nav-link"
    href="/user/dashboard">Shop</a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/cart' ? 'active' : '' %> nav-link" href="/user/cart">Cart</a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/order' ? 'active' : '' %> nav-link" href="/user/order">Orders</a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/add' ? 'active' : '' %> nav-link" href="/user/add">Add
            Products
        </a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/edit_delete' ? 'active' : '' %> nav-link" href="/user/edit_delete">Modify
            Products
        </a>
    </li>
    <li class="nav-item">
        <a class="<%= path === '/user/logout' ? 'active' : '' %> nav-link" href="/user/logout">Logout</a>
    </li>
    </ul>
    </div>
    <% if (prods.length > 0) { %>
    <div class="container card-columns">
        <% for (let product of prods) { %>
        <div class="card">
            <img class="card-img-top" src="<%= product.imageUrl %>" alt="<%= product.title %>">
            <div class="card-body">
                <h1 class="card-title"><%= product.title %></h1>
                <p class="card-text"><%= product.description %></p>
                <p class="card-text">$
                    <%= product.price %>
                </p>
                <a href="/user/edit/<%= product.id %>?edit=true"
                    class="btn btn-primary form-control form-group">Edit</a>
                <form action="/user/delete" method="POST">
                    <input type="hidden" value="<%= product.id %>" name="productId">
                    <button class="btn btn-danger form-control form-group" type="submit">Delete</button>
                </form>

            </div>
        </div>
        <% } %>
    </div>
    <% } else { %>
    <div class="jumbotron container">
        <h1>No Products Here!</h1>
        <p>Add your products from add product and start selling today!.</p>
    </div>
    <% } %>
</body>

</html>