<%- include('../includes/head.ejs') %>
</head>

<body>
    <div class="container" style="margin-bottom: 10px;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="<%= path === '/user/dashboard' ? 'active' : '' %> nav-link" href="/user/dashboard">Shop</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/user/cart' ? 'active' : '' %> nav-link" href="/user/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/user/order' ? 'active' : '' %> nav-link" href="/user/order">Orders</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/user/logout' ? 'active' : '' %> nav-link" href="/user/logout">Logout</a>
            </li>
        </ul>
    </div>
    <% if (prods.length > 0) { %>
    <div class="container">
        <ul class="list-group">
            <% prods.forEach(p => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <%=p.title%>
                <span class="badge badge-primary badge-pill"><%=p.qty%></span>
            </li>
            <% }) %>
        </ul>
    </div>
    <% } else { %>
    <div class="jumbotron container">
        <h1>No order history!</h1>
        <p>Add products to the cart from our shop and order now.</p>
    </div>
    <% } %>
</body>

</html>