<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/dist/profile.min.css">
</head>

<body>
    <nav class="navbar bg-dark">
        <h1>
            <a href="/user/dashboard">
                <i class="fas fa-shopping-bag"></i>
                Start Shopping
            </a>
        </h1>
        <ul>
            <li>
                <a href="/user/order">Orders</a>
                <a href="/user/cart">Cart</a>
                <a href="/user/add">Sell Products</a>
                <a href="/user/edit_delete">Edit Products</a>
                <a href="/user/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="form-wrapper">
        <% if(error != '') {%>
        <div class="error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%=error%>
        </div>
        <%}%>
        <% if(success != '') {%>
        <div class="success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%=success%>
        </div>
        <%}%>
        <div class="form-outer">
            <div class="form-inner">
                <form action="/user/profile" method="POST">
                    <div class="form-group">
                        <label for="title">Email</label>
                        <input type="email" name="email" id="email" value="<%=user.email%>" class="form-control"
        required>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%=user.name%>" class="form-control">
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" name="country" id="country" value="<%=user.address.country%>" class="form-control">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" id="city" value="<%=user.address.city%>" class="form-control">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" value="<%=user.address.home%>" class="form-control">
    </div>
    <div class="form-group">
        <label for="postalcode">Postal Code</label>
        <input type="number" name="postalcode" id="postalcode" value="<%=user.address.postalCode%>"
            class="form-control">
    </div>
    <button class="btn btn-primary-home" type="submit">Update</button>
    </form>
    </div>
    </div>
    </div>
    <footer class="bg-dark">
        <ul>
            <li>
                <a href="/user/dashboard">Top Brands</a> |
                <a href="/user/dashboard">Browse Categories</a> |
                <a href="/user/dashboard">View All Products</a>
            </li>
        </ul>
    </footer>
</body>

</html>